[Desktop Entry]
Type=Application
Name=Nitum PDF
Comment=Ver, firmar y verificar documentos PDF
Exec=nitum-pdf %f
Icon=com.nitum.Pdf
Terminal=false
Categories=Office;Viewer;
Keywords=PDF;firma;firmar;certificado;documento;
MimeType=application/pdf;
StartupWMClass=com.nitum.Pdf
