[Desktop Entry]
Type=Application
Name=Nitum PDF
Comment=Ver, firmar y verificar documentos PDF
Exec=nitum-pdf %f
Icon=org.pwview.PdfViewer
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;
